$color: #123c69 ;
$color2: #ae1d33 ;
$color3: #ffffff ;



.movieCard{

    font-weight: 500;
    
}

.movieCardContainer{
    width: 270px;
    height: 400px;
    margin-top: 1px;
    margin-bottom: 5px;

}

.movie-card{
    min-height: 400px;
    max-height: 400px;


}