$color: #123c69 ;
$color2: #ae1d33 ;
$color3: #ffffff ;



.movieCard{

    font-weight: 500;
   
    
}

.movieCardContainer{
    width: 270px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 300px;
}