$color: #123c69 ;
$color2: #ae1d33 ;
$color3: #ffffff ;



.movieCard{

    font-weight: 500;
    
}

.movieCardContainer{
    width: 270px;
    height: 420px;
    margin-top: 1px;
    margin-bottom: 15px;

}

.movie-card{
    height: 420px;
 
}

@media all and (max-width: 1000px) {
    .movie-card{
        height: 450px;
        
    }

    .movieCardContainer{
       
        height: 450px;
     
    
    }
    .card-img-top {
        height: 170px;
        width: 110px;
    }
}

@media all and (max-width: 500px) {
   
}