$color: #123c69 ;
$color2: #ae1d33 ;
$color3: #ffffff ;

body, html{

    background: $color2;
}

.app-container {
    width: 100%;
    background: $color2;
}
.movieViewContainer{
    background: $color3;
}
